NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LEMON_SQUEEZY_API_KEY=
LEMON_SQUEEZY_WEBHOOK_SECRET=
LEMONSQUEEZY_VARIANT_ID=
LEMONSQUEEZY_STORE_ID=
DATABASE_URL=
N8N_WEBHOOK_URL=
N8N_WEBHOOK_API_KEY=
MANYREACH_API_KEY=
HUBSPOT_ACCESS_TOKEN=
OUTREACH_SECRET=
